.top-img{
    width: 100%;
    height: 110px;
    margin-top: 50px;
}
.item-md,.item-ios{
    padding-left:0px !important;
}
.frogot{
    margin-top:50px;
    text-align: center;
    color:#7a81c9 !important;
}