<!--component html goes here -->
<ion-content padding class="starterpage">
    <img src="assets/imgs/logo1.png"  class="top-img"/>
    <form (ngSubmit)="login();" [formGroup]="form">
        <ion-list no-lines>
            <ion-item>
                <ion-input type="email" name="email" placeholder="Email Address" formControlName="email"></ion-input>
            </ion-item> <br>
            <ion-item>
                <ion-input type="password" formControlName="password" placeholder="Password" name="password"></ion-input>
            </ion-item>
        </ion-list>
        <button type=submit ion-button block color="primary">Login</button>
    </form>
    <button ion-button block color="danger" (click)="signup();"> Sign Up</button>
    
        <p class="frogot" (click)="forgotpassword();"> Forgot password? </p>
    
</ion-content>