<ion-header>
    <ion-navbar>
        <ion-title> Choose Country Code</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list no-lines>
        <ion-item *ngFor="let item of countrycode" (click)="getselecteditem(item)">
            <div item-left> {{item.country_name}} </div>
            <div item-right>{{item.mobile_country_code}}</div>
        </ion-item>
    </ion-list>
</ion-content>