<ion-content>
    <ion-slides pager>
        <ion-slide>
            <h4> WeLcome to ExpenseGo,User!</h4>
            <p>ExpenseGo keeps track of balances between friends.</p>
        </ion-slide>
        <ion-slide>
            <h4> Add expenses</h4> 
            <p> you can split expenses with groups or with individuals </p>
        </ion-slide>
        <ion-slide>
            <h4> Settle up </h4>
            <p>Pay you friends back any time</p>
        </ion-slide>
        <ion-slide>
            <button ion-button (click)="getstarted()">Get started</button>
        </ion-slide>
    </ion-slides>
</ion-content>