<ion-header>
    <ion-navbar>
        <ion-title> Bill Listing</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list no-lines>
        <ion-item *ngFor="let item of listdata">
            <div item-left>
                <ion-avatar>
                    <img [src]='item.image'>
                </ion-avatar>
                {{item.name}}
            </div>
            <div item-right> {{item.currency}} {{item.amount}}</div>
        </ion-item>
    </ion-list>

</ion-content>