<ion-content padding>
    <ion-searchbar [(ngModel)]="searchterm" (ionInput)="findcontact($event)"></ion-searchbar>
    <ion-list *ngIf="showlist">
        <ion-item *ngFor="let contact of contactfound" (click)="gotogrouppage(contact)">
            <p>{{contact.displayName}}</p>
            <div *ngFor="let no of contact.phoneNumbers">
                <p *ngIf="no.type === 'mobile'"> {{no.value}}</p>
            </div>
            <p *ngIf="contact.emails"> {{contact.emails}}</p>
        </ion-item>
    </ion-list>
</ion-content>