<ion-header>
    <ion-navbar>
        <ion-title> Add Bill</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type="text" [(ngModel)]="description"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Amount</ion-label>
        <ion-input type="number" [(ngModel)]="amount"></ion-input>
    </ion-item>
    <button ion-button block color="danger" (click)="addbill()">Add</button>
</ion-content>