page-home {

    .content{
        padding: 5px;
    }
    
    .footertool .toolbar-background-md{
        background-color: floralwhite !important;
    }
    ion-segment-button.segment-button {
        border-bottom: none !important; 
    }
    
}
