<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding    >

    <ion-list >
        <ion-item *ngFor="let item of grouplist">
            <ion-item *ngFor="let subitem of item.groupdetail" (click)="getgroupdetail(subitem.id)">
                <p> {{subitem.group_name}}</p>
            </ion-item>
        </ion-item>
    </ion-list>

    
         <button ion-button block color="danger" (click)="addgroup()"> Add A New Group</button>
   
    <!-- <ion-fab bottom right>
        <button ion-fab color="danger" (click)="createnewbill()">+</button>
    </ion-fab> -->
</ion-content>
<ion-footer>
    <ion-toolbar class="footertool">
        <ion-segment>
            <ion-segment-button value="Group">
                <!-- <ion-icon name="ios-contacts"></ion-icon>  --> Groups
            </ion-segment-button>
            <ion-segment-button value="Friend" (click)="friendpage();">
                <!-- <ion-icon name="ios-contacts"></ion-icon>  --> Friends
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>