.top-imgs{
    width: 100%;
    height: 110px;
}
.symbol {
    color: #0d5666f0;
    font-size: 17px;
}
.countrycode{
    width:16%;
}
.currencyline{
    background-color:  #daaee6 !important;
    font-size: 17px !important;
}
.chnagel{
    float: right;
    font-weight: 600;
    font-size: 15px;
    color: #0d5666f0;
}