
<ion-content padding class="starterpage" >
        <img src="assets/imgs/logo1.png"  class="top-imgs"/>
    <form (ngSubmit)="signup()" [formGroup]="form">
        <ion-list no-lines>
            <ion-item>
                <ion-input type="text" formControlName="firstname" placeholder="First name" name="firstname"></ion-input>
            </ion-item> <br>
            <ion-item>
                <ion-input type="text" formControlName="lastname" placeholder="Last name" name="lastname"></ion-input>
            </ion-item> <br>
            <ion-item>
                <ion-input type="email" formControlName="email" placeholder="Email address" name="email"></ion-input>
            </ion-item> <br>
            <ion-item>
                <ion-input type="password" formControlName="password" placeholder="Password" name="password"></ion-input>
            </ion-item> <br>
            <ion-row>
                <ion-col  col-3 >
                    <p class="ccode" (click)="getcountrycode()"> {{mobile_code}} </p>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-input type="number" formControlName="mobileno" placeholder="Mobile Number"  name="mobileno"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-item class="currencyline"> 
               <p > Using currency :  <span class="symbol"> {{ name }}  {{symbol}}  </span>  <a class="chnagel" (click)="getcurrency();"> Change</a></p>
            </ion-item>
        </ion-list>
        <button type="submit" ion-button block color="danger">Sign Up</button>
    </form>
</ion-content>