<!--component html goes here -->
<ion-content>
    <ion-list no-lines *ngFor="let item of detaildata">
        <ion-item *ngFor="let subitem of item.friendInfo">
            <p> {{subitem.firstname}} </p>
            <p> {{subitem.email}}</p>
            <p> {{subitem.mobile_code}}{{subitem.mobile}}</p>
        </ion-item>
        <button ion-button block color="danger" (click)="deletefriend();"> Delete Friend</button>
    </ion-list>
</ion-content>