[col-2] {
    padding: 5px;
    margin-top: 30px;
}
.item-md ion-avatar ion-img, .item-md ion-avatar img , .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    border-radius: 50%;
    overflow: hidden;
    width: 110px;
    height: 110px;
}
.hidefile{
    border: none !important;
    position: absolute !important;
    top: 24px;
    left: 15px;
    width: 81px;
    height: 79px;
    opacity: 0;
}