<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title> Profile</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form (ngSubmit)="updateprofile()" [formGroup]="form">
        <ion-list no-lines>
            <ion-item>
                <ion-avatar item-start>
                    <img [src]="profileImage">
                </ion-avatar>
                <ion-input class="hidefile" type="file" (change)="handleFileSelect($event)"></ion-input>

            </ion-item>

            <ion-item>
                <ion-input type="text" formControlName='firstname' placeholder="First name" name="firstname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" formControlName='lastname' placeholder="Last name" name="lastname"></ion-input>
            </ion-item>
                
            <ion-row>
                <ion-col  col-3 >
                    <p class="ccode" (click)="getcountrycode()"> {{mobile_code}} </p>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-input type="number" formControlName="mobileno" placeholder="Mobile Number"  name="mobileno"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
        <button type="submit" ion-button block color="danger">Update Profile</button>
    </form>
</ion-content>