<ion-menu [content]="content">
    <ion-content>
        <div class="sidemenu">
            <img src='{{ userAvatar }}'> <br>
            <span class="nameplaet" >{{username}}</span> <br/>
            <span>{{useremail}}</span>
        </div>
        <ion-list class="menus">
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [ngClass]="{'active' : p.title == currentPageTitle}">
                <ion-icon class="menuicon" name={{p.icon}}></ion-icon>{{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>