// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background-md {
    border-color: #b2b2b2;
    background: #c78ad6;
}

.sidemenu {
    background: #c78ad6;
    background-size: cover;
    font-size: 17px;
    color: #fafafa;
    padding: 0px 10px 13px 20px;
}
.menus button.item.item-block.item-md.active, .menus button.item.item-block.item-ios.active {
    background-color: #c78ad6 !important;
    color: white;
}
.menus .item-md, .menus .item-ios {
    padding-left: 15px !important;
}
img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: 16px;
}

.menuicon {
    padding-right: 10px;
}

p {
    padding-bottom: 0px
}
.nameplaet{
    line-height: 27px !important;
}

