<ion-header>
    <ion-navbar>
        <ion-title>Forgot Password</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
    </ion-item>
    <br/>
    <button ion-button block  (click)="forgotpassword();"> Submit</button>
</ion-content>