<!--component html goes here -->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
    <!--  <ion-toolbar>
        <ion-segment>
            <ion-segment-button value="Group" (click)=grouppage();>
                <ion-icon name="ios-contacts"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="Friend">
                <ion-icon name="ios-contacts"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar> -->
</ion-header>
<ion-content padding>
    <ion-list class="friendlists">
        <ion-item *ngFor="let item of friendlist">
            <ion-item *ngFor="let subitem of item.friendInfo" (click)="getfrienddetail(subitem.id);">
                <ion-col class="imgs">
                    <img src="{{subitem.photo}}">
                </ion-col>
                <ion-col>
                    <p id="nametag"> {{subitem.firstname}} </p>
                    <p id="emailtag"> {{subitem.email}}</p>
                    <p *ngIf="!subitem.email" id="emailtag">{{subitem.mobile_code}}{{subitem.mobile}}</p>
                </ion-col>
            </ion-item>
        </ion-item>
    </ion-list>

    <button ion-button block color="danger" (click)="addfriend();"> Add more Friends</button>
</ion-content>
<ion-footer>
    <ion-toolbar class="footertool">
        <ion-segment>
            <ion-segment-button value="Group" (click)=grouppage();>
                <!-- <ion-icon name="ios-contacts"></ion-icon>  --> Groups
            </ion-segment-button>
            <ion-segment-button value="Friend">
                <!-- <ion-icon name="ios-contacts"></ion-icon>  --> Friends
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>