.footertool .toolbar-background-md{
    background-color: floralwhite !important;
}
ion-segment-button.segment-button {
    border-bottom: none !important; 
}
#nametag{
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 400;
    padding-top: 10px;
}
#emailtag{
    font-weight: 400;
    color: darkgray;
}
.friendlists .item{
    height: 75px; 
}
.imgs{
    width: 30%;
    float: left;
}
img{
    height: 80px;
    width: 80px;
}