<ion-header>
    <ion-navbar>
        <ion-title>Choose Currency</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list no-lines>
        <ion-item *ngFor="let item of currencylist" (click)="getselecteditem(item);">
            <div item-left> {{item.name}} </div>
            <div item-right>{{item.symbol}}</div>
        </ion-item>
    </ion-list>
</ion-content>