<ion-header>
    <ion-navbar>
        <ion-title> Create Group</ion-title>
        <ion-buttons end>
            <button ion-button block color="danger" (click)="save();">
             Save
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-input type="text" [(ngModel)]="groupname" placeholder="Group Name" name="groupname"></ion-input>
    </ion-item>

    <ion-item-divider> </ion-item-divider>

    <button ion-button block color="danger" (click)="addmember();"> Add Person to Group </button>
    <ion-list no-lines>
        <ion-item *ngFor="let item of contact">
            <p> {{item.name}} </p>
            <p> {{item.mobile_code}}{{item.mobileno}}</p>
            <p *ngIf="!item.mobile">{{item.email}}</p>
        </ion-item>
    </ion-list>
</ion-content>