<!--component html goes here -->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Setting</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <button ion-button block color="secondary" (click)="accountsetting();">Account Setting</button>
    </ion-item>
    <ion-item>
        <button ion-button block>Device Setting</button>
    </ion-item>
    <ion-item>
        <button ion-button block color="secondary"> Notification Setting</button>
    </ion-item>

</ion-content>