<ion-header>
    <ion-navbar>
        <ion-title> Add Friend</ion-title>
        <ion-buttons end>
            <button ion-button block class="savebtn" (click)="save();">
             Save
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content >
        <ion-searchbar placeholder='Enter name,email or mobile'></ion-searchbar>
</ion-content>