<!--component html goes here -->
<ion-content padding>
    <ion-list no-lines>
        <ion-item *ngFor="let item of groupdetail">
            <p> {{item.group_name}}</p>
            <ion-item *ngFor="let subitem of item.groupdetail">
                <p> {{subitem.name}}</p>
                <p>{{subitem.email}}</p>
                <p *ngIf="!subitem.email">{{subitem.mobile_code}}{{subitem.mobile}}</p>
                <ion-icon name="ios-trash" (click)="deletemember(subitem.id)" end></ion-icon>
            </ion-item>
            <button ion-button block color="danger" (click)="deletegroup(item.group_id)"> Delete Group</button>

        </ion-item>
    </ion-list>
</ion-content>